.navbar-profile-pic img {
  border-radius: 90px;
  height: 150px;
  width: 150px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;

}
.nav-items{
  background-color: #0d011a;
}

.nav-item {
  color: rgb(255, 255, 255);
  margin-left: 25px;
  background-color: #000000;
}
.nav-link {
  margin-top: 20px;
  cursor: pointer;
  background-color: #010323;
  color: #ffffff;
  font-weight: bold;
}

.nav-link svg {
  margin-right: 10px;
}
.nav-link:hover {
  color: #70d5f1;
}

.nav-link .active {
  color: #6fe883;
  border-left: 5px solid #e5e10f;
  padding-left: 10px;
  text-decoration: none;
}