.education{
  padding: 100px 0px;
  margin: 50px 0px;
  margin-left: 120px;
  background-color: rgb(1, 15, 74);
  
}

.education hr{
  color:rgb(255, 255, 255);
  width: 400px;
  margin: 10px auto;
}

.education h2{
  font-weight: bold;
  color: rgb(212, 253, 215);
  
}

.education-timeline {
  width: 100%;
  overflow-x: hidden;
}
.vertical-timeline-element-title{
  color: rgb(0, 0, 0);
  background-color: rgb(239, 246, 147);
}

.vertical-timeline-element-subtitle{
  color: rgb(2, 24, 39);
  
}


@media(max-width:600px){
  .education{
    margin: 0;
    padding: 0;
    margin-top: 30px;

  }
  .education h2{
    padding-top: 20px;

  }
  .education hr{
    width: 280px;
    margin-bottom: 10px;
    

  }
}