.home-container{
  color: white;
  padding-left: 150px;
}
.home-content h2{
  padding: 5px;
  padding-top: 70px;
}

.home-content h1{
  padding: 5px;
  color: aquamarine;
  
}
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.contact-box h3 {
  font-weight: bold;
  margin-bottom: 15px;
}


.contact-box p {
  font-size: 17px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-box a {
  text-decoration: none;
  color: #0d6efd;
}

.contact-box a:hover {
  text-decoration: underline;
}

.home-buttons{
  margin-top: 50px;
  margin-left: 50px;
  display: flex !important;
  gap: 10px;
}



.home-buttons .btn-cv{
background-color: rgb(90, 236, 33);
  color: black;
  font-size: large;
  font-weight: bold;
  width: 160px;
  height:50px;
  margin-left: 10px;
  margin-bottom: 40px;

}
.home-buttons .btn-cv:hover{
  background-color: rgb(0, 1, 10);
  color: rgb(254, 254, 253);

}


.btn-leetcode {
  background: linear-gradient(135deg, #FFA116, #cc8400);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-leetcode:hover {
  transform: translateY(-2px);
}

.contact-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  color: #7aff4d !important;
  text-decoration: none;
}


.contact-link:hover {
  text-decoration: underline;
}

.theme-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: rgb(37, 36, 36);
  margin-top: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  right: 0;
  cursor: pointer;
  z-index: 1;

}
@media(max-width:600px){
  .home-container{
    padding: 0;
    margin: 0;
    margin-top: 50px;

  }
  .home-container h2{
    font-size: 24px;

  }
  .home-container h1{
    font-size: 24px;
  }
}