.work{
  margin: 50px 0px;
  margin-left: 140px;
  background-color: rgb(3, 1, 52) !important;
  
}

.work-exp{
  padding: 60px 0px;

}
.work-exp h2{
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.work-exp hr{
  color:black;
  width: 400px;
  margin: 10px auto;
}
.sublord{
  color: rgb(180, 99, 12);
}
.rider{
  color: rgb(12, 0, 22);
}

.whythis{
  color: rgb(227, 185, 201);
}


@media(max-width:600px){
  .work{
    margin: 0;
    padding: 0;
    margin-top: 50px;

  }
  .work hr{
    width: 280px;
    
  }
}