.techstack{
  padding-left: 130px;
  margin-top: 60px;
  background-color: rgb(1, 3, 66);

}

.techstack hr{
  color:rgb(244, 240, 240);
  width: 400px;
  margin: 10px auto;
}

.techstack h2{
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.techstack .card{
  cursor: pointer;
  color: rgb(13, 1, 53);
  background-color: rgba(255, 255, 255, 0.835);
}
.techstack .card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(8, 215, 150);
  color: rgb(1, 21, 39);
  border: none;
  transition: 1s;
}

.textdown{
  color: white;
}
.techstack .tech-icon{
  font-size: 2rem;
  margin-right: 10px;

}
#dark .techstack{
  background-color: rgb(24, 2, 61);
}
#dark .techstack h2{
  color: white;
}

@media(max-width:600px){
  .techstack{
    padding: 0;
    margin: 0;
    margin-top: 50px;

  }
  .techstack hr{
    width: 280px;
    
  }

}
